In [58]:
print("----------------")
print("ॐ श्री गणेशाय नम:")
print("----------------")

----------------
ॐ श्री गणेशाय नम:
----------------

# Topics
         1. Python Basic Syntax
         2. Variable Declaration
         3. Arithmetic Operator (+, -, *, /, //, %)
         4. Bitwise Operator (&, |, ^, >>, <<, ~)
         5. Comparison Operator (==, !=, >, <, >=, <=)
         6. Assingment Operator (=, +=, -=, /=, //=)
         7. Logical Operator (and, or, not)
         8. Identify Operator (is, isnot)
         9. Membership Operator (in, not in)
         10. if-else

# Python Tutorial

# 1 : Hello World

In [6]:
# Hello world

print("Hello World!!")

Hello World!!

### 1.1 : Assingnment - Write to print your name two times

In [7]:
print("Harsh")
print("Harsh")

Harsh
Harsh

### 1.2 : Variable declaration and print it

In [8]:
a = 300
a    # Print the value of a only

300

##### ** If any print statement is not written than it print last line statement **

In [9]:
a = 300    
a
b = "Shyam"
b             # Print the value of b

'Shyam'

In [10]:
a = 300
a
b = "Shyam"
b
print("a -->", a)     # Print the value of a
print("b -->", b)     # Print the vlaue of b
#print(f"a is {a} and b is {b}")

a --> 300
b --> Shyam

### 1.3 Error (Indentation Error)

In [2]:
a = 20          # No Error
print("a -->", a)

a --> 20

In [3]:
a = 20
print("a -->", a)
 b = 30
print("b -->", b)

IndentationError: unexpected indent (1026064955.py, line 3)


# 2 : Different types of Operators

### 2.1. Arithmetic Operator ( -, +, *, /, //, **, %)

#### 2.1.1 Use of +, -, *, /, %

In [4]:
a = 220
b = 16

c = a + b # Use of +
print(a, "+", b, "-->", c)

c = a - b # Use of -
print(a, "-", b, "-->", c)

c = a * b # Use of *
print(a, "*", b, "-->", c)

c = a / b # Use of /
print(a, "/", b, "-->", c)

220 + 16 --> 236
220 - 16 --> 204
220 * 16 --> 3520
220 / 16 --> 13.75

#### 2.1.2 Use of / and //

In [15]:
a = 220
b = 16

c = a / b # Use of /
print(a, " /", b, "-->", c)

c = a // b  # Use of //
print(a, "//", b, "-->", c)

220  / 16 --> 13.75
220 // 16 --> 13

#### 2.1.3 Use of ** (power)

In [16]:
a = 9
b = 2

c = a ** b # Use of **
print(a, "**", b, "-->", c)

9 ** 2 --> 81

In [10]:
a = int(input("Enter First Number : "))
b = int(input("Enter Second Number : "))
c = a**b
print("--------------------------------------")
print("Output : ", a, "**", b, "-->", c)

Enter First Number : 25
Enter Second Number : 2
--------------------------------------
Output :  25 ** 2 --> 625

### 2.2: Bitwise Operators (&, |, ~, >>, <<)

#### 2.2.1 Use of & (and)
    Sets each bit to 1 if both bits are 1.
        0 & 0 = 0
        0 & 1 = 0
        1 & 1 = 1

In [17]:
# Example - 1
a = 0
b = 1
d = 1

c = a & b      #Use of &
print(a, "&", b, "-->", c)

c = d & b        #Use of &
print(d, "&", b, "-->", c)

0 & 1 --> 0
1 & 1 --> 1

In [18]:
# Example - 2
a = 20
b = 10
d = 10

c = a & b   # Use of &
print(a, "&", b, "-->", c)

c = d & b   # Use of &
print(d, "&", b, "-->", c)

20 & 10 --> 0
10 & 10 --> 10

#### 2.2.2 Use of | (or)
        Sets of each bit to 1 if one of the two bits is 1.
             1 | 0 = 1
             0 | 0 = 0
             1 | 1 = 1

In [19]:
# Example 1
a = 0
b = 1
d = 1

c = a | b   #Use of |
print(a, "|", b, "-->", c)

c = d | b   #Use of |
print(d, "|", b, "-->", c)

0 | 1 --> 1
1 | 1 --> 1

In [11]:
# Example 2
a = 24
b = 10
d = 10

c = a | b     # Use of |
print(a, "|", b, "-->", c)

c = d | b     # Use of |
print(d, "|", b, "-->", c)

24 | 10 --> 26
10 | 10 --> 10

#### 2.2.3 Use of ~ (Not)
          Inverts all the bits.

In [21]:
# Example 1
a = 0
b = 1

c = ~a     # Use of ~
print("~", a, "-->", c)

c = ~b     # Use of ~
print("~", b, "-->", c)

~ 0 --> -1
~ 1 --> -2

In [24]:
# Example 2
a = 20
b = 10

c = ~a     # Use of ~
print("~", a, "-->", c)

c = ~b     # Use of ~
print("~", b, "-->", c)

~ 20 --> -21
~ 10 --> -11

#### 2.2.4 Use of ^ (XOR)
          Use of ^ (XOR) --> Sets each bit to 1 if only one of two bits is 1.

In [25]:
# Example 1
a = 0
b = 1
d = 1

c = a ^ b    #Use of ^
print(a, "^", b, "-->", c)

c = d ^ b    #Use of ^
print(d, "^", b, "-->", c)

0 ^ 1 --> 1
1 ^ 1 --> 0

In [26]:
# Example 2
a = 20
b = 10
d = 10

c = a ^ b # Use of ^
print(a, "^", b, "-->", c)

c = d ^ b   # Use of ^
print(d, "^", b, "-->", c)

20 ^ 10 --> 30
10 ^ 10 --> 0

#### 2.2.5 Use >> (Right Shift)
   Use of >> (right shift) --> Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off.

In [1]:
# Example 1
a = 1
b = 1
d = 2

c = a >> b    # Use of >>
print(a, ">>", b, "-->", c)

c = a >>d
print(a, ">>", d, "-->", c)

1 >> 1 --> 0
1 >> 2 --> 0

In [1]:
# Example 2
a = 24
b = 1
d = 2

c = a >> b     # Use of >>
print(a, ">>", b, "-->", c)

c = a >> d
print(a, ">>", d, "-->", c)

24 >> 1 --> 12
24 >> 2 --> 6

#### 2.2.6 Use << (Left Shift)
    Use of << (Left Shift) --> Zero to fill left shift
    Shift left by passing zeros in form the right and let the leftmost bits fall off.

In [4]:
# Example 1
a = 1
b = 1
d = 2

c = a << b    # Use of <<
print(a, "<<", b, "-->", c)

c = a << d
print(a, "<<", d, "-->", c)

1 << 1 --> 2
1 << 2 --> 4

In [5]:
# Example 2
a = 20
b = 1
d = 2

c = a << b
print(a, "<<", b, "-->", c)

c = a << d
print(a, "<<", d, "-->", c)

20 << 1 --> 40
20 << 2 --> 80

### 2.3 Assingnment Operator (=, +=, -=, /=, //=)

#### 2.3.1 Use of +=

In [6]:
a = 20
print("a =", a)

a += 10
print("a += -->", a)

a = 20
a += --> 30

#### 2.3.2 Use of -=

In [7]:
a = 20
print("a =", a)

a -= 10
print("a -= -->", a)

a = 20
a -= --> 10

#### 2.3.3 Use of *=

In [8]:
a = 20
print("a =", a)

a *= 10
print("a *= -->", a)

a = 20
a *= --> 200

#### 2.3.4 Use of /=

In [11]:
a = 20
print("\n a =", a)

a /= 10
print(" a /= 10 -->", a)

a /= 20
print(" a /= 20 -->", a)

a //= 10
print(" a //= 10 -->", a)

 a = 20
 a /= 10 --> 2.0
 a /= 20 --> 0.1
 a //= 10 --> 0.0

# 3 : Input from User

### 3.1 Input from user and print it

In [2]:
# Input from user and print it

a = input("Enter Anything(Name/Number) : ")
print("\nYour Input is               -->", a)

Enter Anything(Name/Number) : harsh

Your Input is               --> harsh

### 3.2 Concatinate two Strings

In [1]:
# Concatinate two strings

a = input("Enter First String  : ")
b = input("Enter Second String : ")

c = a + b    # Concatinate two strings
print(" ")
print(a , " + ", b , "-->", c)

Enter First String  : harsh
Enter Second String : kumar

harsh  +  kumar --> harshkumar

### Re-Run the above code and input two numbers

### 3.3 Input two numbers from user and add them

In [3]:
# Input the numbers from user and add them

a = int(input("Enter the First Number : "))
b = int(input("Enter the Second Number : "))

c = a + b
print(a, "+", b, "--> ", c)

Enter the First Number : 15
Enter the Second Number : 10
15 + 10 -->  25

### 3.4 Concatinate Strings and Number

#### 3.4.1 Concatinate String and Number

In [4]:
# Concatinate Strings and Number

c = "Ram" + 10    # Error: Different data type
print(c)

TypeError: can only concatenate str (not "int") to str

#### 3.4.2 Concatinate String and Number

In [5]:
c = "Ram" + "10"
print("c -->", c)

c --> Ram10

#### 3.4.3 Concatinate String and Number

In [6]:
a = 10
b = "Ram"
c = a + b       # Error: Different data type
print(a, "+", b, "-->", c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### 3.4.4 Concatinate String and Number

In [8]:
a = 10
b = "Ram"
c = str(a) + b
print(a, "+", b, "-->", c)

10 + Ram --> 10Ram

# Assingnment 3.1: WAP to add three numbers, Inputs from user and print result

In [9]:
# Program :- 1
a = int(input("Enter the First Number : "))
b = int(input("Enter the Second Number : "))
c = int(input("Enter the Second Number : "))

d = a + b + c
print(a, "+", b, "+", c, "-->", d)

Enter the First Number : 10
Enter the Second Number : 10
Enter the Second Number : 10
10 + 10 + 10 --> 30

In [16]:
# Program :- 2
a = input("Enter the First Number : ")
b = input("Enter the Second Number : ")
c = input("Enter the Second Number : ")

d = a + b + c
print(d)

Enter the First Number : Ha
Enter the Second Number : r
Enter the Second Number : sh
Harsh

# Assingnment 3.2: WAP to concatinate three strings, inputs from user and print

In [12]:
a = 10
b = 25
c = "Harsh"

d = str(a + b) + c
print(a, "+", b, "+", c, "-->", d)

10 + 25 + Harsh --> 35Harsh

In [11]:
a = "Harsh"
b = " Kumar"
c = 41

d = a + b + str(c)
print (a, "+", b, "+", c, "-->", d)

Harsh +  Kumar + 41 --> Harsh Kumar41

# 4 : If-Else-Conditional Checking

### 4.1 Input two numbers from user and compare them

In [17]:
a = int(input("Enter the First Number : "))
b = int(input("Enter the Second Number : "))
if a > b:
    print(a, ">", b)
else:
    print(a, "<", b)

Enter the First Number : 15
Enter the Second Number : 30
15 < 30

In [17]:
a = 10
b = 20
print(a == b)
print(a != b)

False
True

### 4.2 Check weather a number is odd or even

In [19]:
# Example 1 :-

a = int(input("Enter a Number : "))
if a % 2 == 0:
    print(a, "is even")
else:
    print(a, "is odd")

Enter a Number : 11
11 is odd

In [21]:
# Example 2 :-

a = int(input("Enter a Number : "))
if a % 2 != 0:
    print(a, "is odd")
else:
    print(a, "is even")

Enter a Number : 10
10 is even

### 4.3 Conditional Checking - Compare strings

In [2]:
a = input("Enter First String : ")
b = input("Enter Second String : ")

if a == b:
    print("a == b")
elif a >= b:
    print("a > b")
else:
    print("a < b")
    x = 70    # in the else block
    y = 80    # in the else block
z = 90        # out of the else block

Enter First String : HI
Enter Second String : HEY
a > b

### 4.4 Logical Operators (and, or, not)

#### 4.4.1 Use of and

In [18]:
a = 10
b = 23

if a == 10 and b == 20:
    print("Accepted")
elif a >= b:
    print("Rejected")
else:
    print("On Hold")

On Hold

#### 4.4.2 Use of and

In [23]:
a = 0
b = 0
print("a and b -->", a and b)
print("a & b   -->", a & b)

a and b --> 0
a & b   --> 0

### Re-Run the above code with a = 1 and b = 0 | a = 0 and b = 1 | a = 1 and b = 1

#### 4.4.3 Use of and

a = 1
b = 1
print("a and b -->", a and b)
print("a & b -->", a & b)

#### 4.4.4 Use of or

In [25]:
a = 20
b = 30

if a ==  20 or b == 20:
    print("Accepted")
else:
    print("Rejected")

Accepted

#### 4.4.5 Use of or

In [22]:
a = 0
b = 0
print("a or b  -->", a or b)
print("a | b   -->", a | b)

a or b  --> 0
a | b   --> 0

#### 4.4.6 Use of or

In [19]:
a = 10
b = 20
print("a or b -->", a or b)
print("a | b  -->", a | b)

a or b --> 10
a | b  --> 30

#### 4.4.7 Use of not

In [21]:
# Example 1 :-
a = True
print("a      -->", a)
print("not a  -->", not a)

a      --> True
not a  --> False

In [20]:
# Example 2 :-
a = 1
print("a      -->", a)
print("not a  -->", not a)

a      --> 1
not a  --> False

### 4.5 Identify Operators (is, is not)

In [4]:
a = 10
b = 20
print("a is a      -->", a is a )
print("a is not a  -->", a is not a)
print("--------------------")
print("a is b      -->", a is a)
print("a is not b  -->", a is not a)

a is a      --> True
a is not a  --> False
--------------------
a is b      --> True
a is not b  --> False

### 4.6 Membership Operator (in, not in)

In [7]:
a = [10, 20, 30]

print("10 in a     -->", 10 in a)
print("40 in a     -->", 40 in a)
print("---------------------")
print("10 not in a -->", 10 not in a)
print("40 not in a -->", 40 not in a)

10 in a     --> True
40 in a     --> False
---------------------
10 not in a --> False
40 not in a --> True

# 4.1: WAP to find max among three numbers and input from user [Hint : Try max() function)

In [16]:
a = int(input("Enter First Number : "))
b = int(input("Enter Second Number : "))
c = int(input("Enter Third Number : "))
print(max(a, b, c))

Enter First Number : 10
Enter Second Number : 20
Enter Third Number : 30
30

In [13]:
a = int(input("Enter First Number : "))
b = int(input("Enter Second Number : "))
c = int(input("Enter Third Number : "))
if(a > b and a > c):
    print(a)
elif(b > a and b > c):
    print(b)
else:
    print(c)

Enter First Number : 20
Enter Second Number : 30
Enter Third Number : 50
50

# Basics of Python - Part - 2

## ***LOOPS, FUNCTIONS, MATHS LIBRARY & STRINGS***
      Topics :-
          1. While Loop
          2. For Loop
          3. Functions
          4. Math Library
          5. String Handling

### 1. While Loop :-

In [17]:
# Print 1 to 10

i = 1
while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [19]:
# Print 10 to 1

i = 10
while i >= 1:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

In [22]:
# Print 10 to 1

i = 10
while (i > 0):
    print(i)
    i -= 1
    x = 80
y = 90

10
9
8
7
6
5
4
3
2
1

### 2. RANGE FUNCTION :-

In [25]:
range(10)

range(0, 10)

In [30]:
list(range(10))     # This code is run on googlecollab in without any error

TypeError: 'list' object is not callable

In [34]:
# THIS CODE IS RU ON THE GOOGLECOLLAB

print("range(10)             -->", list(range(10)))
print("range(0, 20)          -->", list(range(0, 20)))
print("range(10, 20)         -->", list(range(10, 20)))
print("range(0, 20, 2)       -->", list(range(0, 20, 2)))
print("range(-10, -20, 2)    -->", list(range(-10, -20, 2)))
print("range(-10, -20, -2)   -->", list(range(-10, -20, -2)))

TypeError: 'list' object is not callable

### 3. FOR LOOP :-

In [35]:
# Print 1 to 10

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [36]:
# Print 1 to 20 with increment of 2

for i in range(1, 21, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [39]:
# Print 0 to -10

for i in range(0, -10, 1):
    print(i)
    
# No output; why?
# Because from 0 to till -10 going backwards but 1 is going to outwards

In [40]:
# Print 0 to -10

for i in range(0, -10, -1):
    print(i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

In [41]:
# Table of 5

for i in range(1, 11):
    print(5, "*", i , "=", i * 5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# Assingnment : WAP to print the table of n; where n will be given by the user

In [43]:
a = int(input("Enter the Table : "))
for i in range(1, 11):
    print(a, "*", i , "=", i * a)

Enter the Table : 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [47]:
s = 0
for i in range(1, 11):
    s = s + i
print("Sum is -->", s)

Sum is --> 55

In [48]:
print("Sum is --> ", sum(range(1, 11)))

Sum is -->  55

# Assingnment - 1. WAP to print the table of 7 & 9
# Assingnment - 2. WAP to print the table of n and n is given by user
# Assingnment - 3. WAP to add all the numbers from 1 to n is given below

## Assingnment 1 :-

In [52]:
for i in range(1, 11):
    print(7, "*", i , "=", i * 5)
print("----------------------")
for i in range(1, 11):
    print(9, "*", i, "=", i * 9)

7 * 1 = 5
7 * 2 = 10
7 * 3 = 15
7 * 4 = 20
7 * 5 = 25
7 * 6 = 30
7 * 7 = 35
7 * 8 = 40
7 * 9 = 45
7 * 10 = 50
----------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

## Assingnment 2 :-

In [53]:
a = int(input("Enter Table Number : "))
for i in range(1, 11):
    print(a, "*", i, "=", i * a)

Enter Table Number : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## Assingnment 3 :-

In [55]:
a = int(input("Enter the number : "))
print("Sum is --> ", sum(range(1, a)))

Enter the number : 5
Sum is -->  10

## 4. Miscellaneous Example

### 4.1: Prime Number

In [57]:
n = int(input("Enter a Number : "))
f = 0
for i in range(2, int(1 + n/2)):
    if n % i == 0:
        f = 1
        break
        
if f == 0:
    print("Prime")
else:
    print("Not Prime")

Enter a Number : 8
Not Prime

### 4.2: Fibonacci Number

In [2]:
n = 10

a = 0
b = 1

print(a)
print(b)
for i in range(n):
    c = a + b
    print(c)
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34
55
89

### 4.3: Factorial Number

In [4]:
n = 4

a = 1

for i in range(1, n + 1):
    a = a * i
print("Factorial is :", a)

Factorial is : 24

In [7]:
n = int(input("Enter the number : "))
a = 1
for i in range(1, n + 1):
    a = a * i
print("Factorial is :", a)

Enter the number : 15
Factorial is : 1307674368000

## 5. Functions

### 5.1: Add two numbers

In [10]:
def Add(a, b):
    c = a + b
    return c

print("Add(10, 20)  -->", Add(10, 20))
print("Add(10, 20)  -->", Add(20, 60))
print("Add(10, 20)  -->", Add(-10, 20))

Add(10, 20)  --> 30
Add(10, 20)  --> 80
Add(10, 20)  --> 10

### 5.2: Prime Number

In [13]:
def IsPrime(n):
    for i in range(2, int(1 + n / 2)):
        if n % i == 0:
            return False
    return True

print("IsPrime(20)  -->", IsPrime(20))
print("IsPrime(20)  -->", IsPrime(23))
print("IsPrime(20)  -->", IsPrime(200))
print("IsPrime(20)  -->", IsPrime(37))

IsPrime(20)  --> False
IsPrime(20)  --> True
IsPrime(20)  --> False
IsPrime(20)  --> True

### 5.3: Add 1 to n

In [15]:
def AddN(n):
    s = sum(range(n + 1))
    return s

print("AddN(10) -->", AddN(10))
print("AddN(10) -->", AddN(20))
print("AddN(10) -->", AddN(50))
print("AddN(10) -->", AddN(200))

AddN(10) --> 55
AddN(10) --> 210
AddN(10) --> 1275
AddN(10) --> 20100

### 5.4: Default Parameter

In [16]:
def Add(a, b, d = 90):
    c = a + b + d
    return c

print("Add(10, 20) -->", Add(10, 20))
print("Add(20, 50, 10) -->", Add(20, 50, 10))

Add(10, 20) --> 120
Add(20, 50, 10) --> 80

# Assingnment - 1. WAP using function that add all odd numbers from 1 to n; n given by user.
# Assingnment - 2. WAP using function that add all even numbers from  to n; n given by user.
# Assingnment - 3. WAP using function that add all the prime numbers from 1 to n; n given by user.

## Assingnment - 1

In [11]:

start = int(input("Enter the starting value : "))
end   = int(input("Enter the ending value : "))

result=0

for x in range(start,end):
    if(x % 2 == 1):
        result=result+x
        
print("Sum of odd number is ",result)

Enter the starting value : 3
Enter the ending value : 8
Sum of odd number is  15

## Assingnment - 2

In [12]:
start = int(input("Enter the starting value : "))
end   = int(input("Enter the ending value : "))

result=0

for x in range(start,end):
    if(x % 2 == 0):
        result=result+x
        
print("Sum of odd number is ",result)

Enter the starting value : 2
Enter the ending value : 8
Sum of odd number is  12

## Assingnment - 3

In [7]:
start = int(input("Enter the starting value : "))
end   = int(input("Enter the ending value : "))

result=0

for x in range(start,end):
    if(x % 2 != 0):
        result=result+x
        
print("Sum of odd number is ",result)

Enter the starting value : 3
Enter the ending value : 9
Sum of odd number is  15

# 6. Math Library

In [31]:
import math as m
print("exp(-200)        -->", m.exp(-200))   # Exponential Function
print("log(100, 2)      -->", m.log(100, 2))  #Log
print("log(100, 10)     -->", m.log(100, 10))  #Log
print("log10(1100)      -->"), m.log10(100)  #Log10
print("m.cos(30)        -->"), m.cos(30)  # Cos
print("m.sin(30)        -->", m.sin(30))  #Sin
print("m.tan(30)        -->", m.tan(30))  #tan
print("m.sqrt(324)      -->", m.sqrt(324)) 
print("m.ceil(89.9)     -->", m.ceil(89.9))
print("m.floor(89.9)    -->", m.floor(89.9))

exp(-200)        --> 1.3838965267367376e-87
log(100, 2)      --> 6.643856189774725
log(100, 10)     --> 2.0
log10(1100)      -->
m.cos(30)        -->
m.sin(30)        --> -0.9880316240928618
m.tan(30)        --> -6.405331196646276
m.sqrt(324)      --> 18.0
m.ceil(89.9)     --> 90
m.floor(89.9)    --> 89

# 7. String Handling

## 7.1: String Declaration

In [17]:
var1 = 'Hello Python'
var2 = "Hello Python"
print("var1 -->", var1)
print("var2 -->", var2)

var1 --> Hello Python
var2 --> Hello Python

## 7.2: Difference between single quote and double quote

In [20]:
var1 = 'Harsh "Kumar"'
var2 = "Harsh 'Kumar'"
var3 = "Hello \"Python\" "
print("Var1 -->", var1)
print("Var2 -->", var2)
print("Var3 -->", var3)

Var1 --> Harsh "Kumar"
Var2 --> Harsh 'Kumar'
Var3 --> Hello "Python"

In [21]:
# No Error
print("It's Python")

It's Python

In [22]:
# Error
print('It's python')

SyntaxError: invalid syntax (4098602770.py, line 2)

In [24]:
# No Error; Use of \
print('It\'s python')

It's python

In [25]:
# No Error
print('It"s Python')

It"s Python

## 7.3: Indexing in string

In [32]:
#Example 1 :-
var1 = "123456789"
print("var1     -->", var1)
print("var1[1]  -->", var1[1])
print("var1[2]  -->", var1[2])
print("var1[-1] -->", var1[-1])
print("var1[-2] -->", var1[-2])

var1     --> 123456789
var1[1]  --> 2
var1[2]  --> 3
var1[-1] --> 9
var1[-2] --> 8

In [35]:
# Example 2 :-
var1 = "123456789"
print("var1         -->", var1)
print("var1[1:3]    -->", var1[1:3])
print("var1[2: ]    -->", var1[2:])
print("var1[2:5]    -->", var1[2:5])
print("var1[:2]     -->", var1[:2])
print("var1[:-1]    -->", var1[:-1])
print("var1[-4:-1]  -->", var1[-4:-1])

var1         --> 123456789
var1[1:3]    --> 23
var1[2: ]    --> 3456789
var1[2:5]    --> 345
var1[:2]     --> 12
var1[:-1]    --> 12345678
var1[-4:-1]  --> 678

In [37]:
# Example 3 :-
var1 = "123456789"
print("var1            -->", var1)
print("var1[::1]       -->", var1[::1])   # No change
print("var1[::-1]      -->", var1[::-1])  # Reverse
print("var1[::-2]      -->", var1[::-2])
print("var1[::2]       -->", var1[::2])

var1            --> 123456789
var1[::1]       --> 123456789
var1[::-1]      --> 987654321
var1[::-2]      --> 97531
var1[::2]       --> 13579

## 7.4: String Length, upper, lower

In [38]:
var1 = "Python Programming"
print("var1             -->", var1)
print("\nlength of var1 -->", len(var1))
print("\nUpper of var1  -->", var1.upper())   # No Change in the var1
print("var1             -->", var1)
print("\nLower of var1  -->", var1.lower())
print("var1             -->", var1)

var1             --> Python Programming

length of var1 --> 18

Upper of var1  --> PYTHON PROGRAMMING
var1             --> Python Programming

Lower of var1  --> python programming
var1             --> Python Programming

## 7.5: To save string in Upper / Lower Permanently

In [46]:
var1 = "Python Programing"
print("var1     -->", var1)

var1 = var1.upper()
print("var1     -->", var1)

A = "HARSH KUMAR"
A = A.lower()
print("A        -->", A)

var1     --> Python Programing
var1     --> PYTHON PROGRAMING
A        --> harsh kumar

## 7.6: String Formatting

In [48]:
name = "Happy"    #= input("Enter your name : ")
age = 24          #= int(input("Enter you age : "))
price = 89.5      #= float(input("Enter the book price : "))
s = "Your name is %s, age is %d and book price is %f" %(name.upper(),age,price)
print(s)

Your name is HAPPY, age is 24 and book price is 89.500000

## 7.7: String in Triple Quotes

In [56]:
para_str = """सफल और असफल लोग अपनी क्षमताओं में बहुत भिन्न नहीं होते हैं,
वे अपनी क्षमता तक पहुँचने के लिए अपनी इच्छाओं में भिन्न होते हैं|
                     - जॉन मैक्सवेल"""
print(para_str)

सफल और असफल लोग अपनी क्षमताओं में बहुत भिन्न नहीं होते हैं,
वे अपनी क्षमता तक पहुँचने के लिए अपनी इच्छाओं में भिन्न होते हैं|
                     - जॉन मैक्सवेल

## 7.8: String strip - Remove the Spaces (space, new line, tab) from either side

In [61]:
s1 = "India  Army       "
s2 = "India                Army"
s3 = "Indian, Army, is, Best"

print("s1         -->", s1, "\t\t  Length  --> ", len(s1))
print("s1 strip   -->", s1.strip(), "\t\t   Length  -->", len(s1.strip()))

print("\ns2       -->", s2, "\t\t  Length  --> ", len(s2))
print("s2 strip   -->", s2.strip(), "\t\t   Length  -->", len(s2.strip()))

print("\ns3       -->", s3, "\t\t  Length  --> ", len(s3))
print("s3 strip   -->", s3.strip(), "\t\t   Length  -->", len(s3.strip()))

s1         --> India  Army        		  Length  -->  18
s1 strip   --> India  Army 		   Length  --> 11

s2       --> India                Army 		  Length  -->  25
s2 strip   --> India                Army 		   Length  --> 25

s3       --> Indian, Army, is, Best 		  Length  -->  22
s3 strip   --> Indian, Army, is, Best 		   Length  --> 22

## 7.9: String split

In [62]:
s1 = "India  Army       "
s2 = "India                Army"
s3 = "Indian, Army, is, Best"

print("s1                       -->", s1)
print("s1 split                 -->", s1.split())

print("\ns2                     -->", s2)
print("s2 split                 -->", s2.split())
print("s2 split with ','        -->", s2.split(","))

print("\ns3                     -->", s3)
print("s3 split                 -->", s3.split())
print("s3 split with ' '        -->", s3.split(' '))

s1                       --> India  Army
s1 split                 --> ['India', 'Army']

s2                     --> India                Army
s2 split                 --> ['India', 'Army']
s2 split with ','        --> ['India                Army']

s3                     --> Indian, Army, is, Best
s3 split                 --> ['Indian,', 'Army,', 'is,', 'Best']
s3 split with ' '        --> ['Indian,', 'Army,', 'is,', 'Best']

## 7.10: Count in string

In [1]:
s1 = "Indian Army     "
print("s1             -->", s1)
print("s1 count ' '   -->", s1.count(' '))
print("s1 count 'a'   -->", s1.count('a'))
print("s1 count 'an'  -->", s1.count('an'))

s1             --> Indian Army
s1 count ' '   --> 6
s1 count 'a'   --> 1
s1 count 'an'  --> 1

In [5]:
a = "Harsh Kumar"
print("a        -->", a)
print("a count  -->", a.count('a'))
print("r count  -->", a.count('r'))

a        --> Harsh Kumar
a count  --> 2
r count  --> 2

In [11]:
Quotes = """ When you give joy to other people, you get more joy in return. 
             You should give a good thought to happiness that you can give out.
                   — Eleanor Roosevelt"""
print("Quotes  -->", Quotes)
print("Quotes count o  -->", Quotes.count('o'))

Quotes  -->  When you give joy to other people, you get more joy in return.
             You should give a good thought to happiness that you can give out.
                   — Eleanor Roosevelt
Quotes count o  --> 19

## 7.11: Reverse a String

In [17]:
s1 = "Harsh Kumar"
print("s1               -->", s1)
print("s1[::1]          -->", s1[::1])
print("s1[::-1]         -->", s1[::-1])
print("s1[::-2]         -->", s1[::-2])
print("s1[::2]          -->", s1[::2])

s1               --> Harsh Kumar
s1[::1]          --> Harsh Kumar
s1[::-1]         --> ramuK hsraH
s1[::-2]         --> rmKhrH
s1[::2]          --> HrhKmr

## 7.12: Palindrome

In [18]:
s1 = "Indian Army"
s2 = "malyalam"
s3 = "madam"
s4 = "teacher"

print("s1 -->", s1 == s1[::-1])
print("s2 -->", s2 == s2[::-1])
print("s3 -->", s3 == s3[::-1])
print("s4 -->", s4 == s4[::-1])

s1 --> False
s2 --> False
s3 --> True
s4 --> False

# Basics of Python - Part 3 (Random Number-String, Exception Handling)

### Topics :-
       1. Random Numbers
       2. Random Strings
       3. Exception Handling

## 1. Random Numbers / Random Strings

### 1.1: Generate random number between 0 and 1

In [20]:
import random as r
print("r.random() -->", r.random())       # Random number between 0 & 1
print("r.random() -->", r.random())
print("r.random() -->", r.random())

r.random() --> 0.12218482122987084
r.random() --> 0.054443468064082956
r.random() --> 0.7561406433448241

### 1.2: Generate random integer number

In [23]:
import random as r
print("r.random(1, 10)    -->", r.randint(1, 10))
print("r.randint(1, 10)   -->", r.randint(1, 10))
print("r.randint(-10, 10) -->", r.randint(-10, 10))
print("r.randint(-10, 10) -->", r.randint(-10, 10))

r.random(1, 10)    --> 10
r.randint(1, 10)   --> 4
r.randint(-10, 10) --> 6
r.randint(-10, 10) --> 9

### 1.3: Generate random real number

In [24]:
import random as r
print("r.uniform(1, 100) -->", r.uniform(1, 100))
print("r.uniform(1, 100) -->", round(r.uniform(1,100),2))
print("r.uniform(-10, 10)-->", r.uniform(-10, 10))
print("r.uniform(-10, 10)-->", round(r.uniform(-10, 10),4))

r.uniform(1, 100) --> 56.304849843073235
r.uniform(1, 100) --> 69.06
r.uniform(-10, 10)--> 4.446797580651637
r.uniform(-10, 10)--> -1.1825

### 1.4: Generate sample from a list of elements

In [25]:
import random as r

A = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("A          -->", A)

print("")
print("sample(A, 4)  -->", r.sample(A, 4))
print("sample (A, 2) -->", r.sample(A, 2))

print("")
print("sample(range(1, 90),2   -->", r.sample(range(1, 90), 2))
print("sample(range(1, 90),2   -->", r.sample(range(1, 90), 2))

A          --> [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

sample(A, 4)  --> [5, 1, 3, 4]
sample (A, 2) --> [9, 3]

sample(range(1, 90),2   --> [83, 15]
sample(range(1, 90),2   --> [54, 35]

### 1.5: Generate random string

In [26]:
import string as s
import random as r

print("String  --> ", s.ascii_letters)
passwd = r.sample(s.ascii_letters, 5)
print("")
print("passwd1  --> ", passwd)
passwd = "".join(passwd)
print("passed  -->", passwd)

String  -->  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

passwd1  -->  ['u', 's', 'y', 'c', 'N']
passed  --> usycN

In [28]:
import string as s
import random as r

print("String  --> ", s.ascii_letters)
passwd = r.sample(s.ascii_letters, 6)
print("")
print("passwd1  --> ", passwd)
passwd = "".join(passwd)
print("passed  -->", passwd)

String  -->  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

passwd1  -->  ['j', 't', 'y', 'l', 'e', 'p']
passed  --> jtylep

### 1.6: Generate random digits (OTP)

In [30]:
import string as s
import random as r
print("Digits  --> ", s.digits)

otp = r.sample(s.digits, 5)
print("")
print("otp1  --> ", otp)
otp = "".join(otp)
print("otp1  --> ", otp)

Digits  -->  0123456789

otp1  -->  ['0', '2', '1', '5', '4']
otp1  -->  02154

### 1.7: Generate random tring + digits

In [32]:
import string as s
import random as r
print("String + Digit  --> ", s.ascii_letters + s.digits)
mixPasswd = r.sample(s.ascii_letters + s.digits, 8)
print("")
print("mixPaswd1  --> ", mixPasswd)
mixPasswd = "".join(mixPasswd)
print("mixPasswd1  --> ", mixPasswd)

String + Digit  -->  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789

mixPaswd1  -->  ['n', 'X', 'x', 'g', 'B', 'd', 'c', 'k']
mixPasswd1  -->  nXxgBdck

### 1.8: Generate random string + digits + special char

In [34]:
import string as s
import random as r

splChar = "#@!%^()_+=[]{}|"

mixPasswd = r.sample(splChar + s.ascii_letters + s.digits, 12)
print("mixPasswd  --> ", mixPasswd)
mixPasswd = "".join(mixPasswd)
print("")
print("mixPasswd  --> ", mixPasswd)

mixPasswd  -->  ['I', 'Q', 'Z', '|', 't', '#', '=', 'E', '(', '@', 'G', 'C']

mixPasswd  -->  IQZ|t#=E(@GC

## 2. Exception Handling
       Run time errors are known as exception eg - division by zero, file not found etc.

### 2.1: Error Generattion 2: Division by Zero

In [35]:
for i in range(-5, 6):
    print("100/",i,"-->", 100/i)

100/ -5 --> -20.0
100/ -4 --> -25.0
100/ -3 --> -33.333333333333336
100/ -2 --> -50.0
100/ -1 --> -100.0

ZeroDivisionError: division by zero

### 2.2: Excepton handling for dividion by zero

In [38]:
for i in range(-5, 6):
    try:
        print("100 /",i, "-->", 100/i)
    except:
        print("error")

100 / -5 --> -20.0
100 / -4 --> -25.0
100 / -3 --> -33.333333333333336
100 / -2 --> -50.0
100 / -1 --> -100.0
error
100 / 1 --> 100.0
100 / 2 --> 50.0
100 / 3 --> 33.333333333333336
100 / 4 --> 25.0
100 / 5 --> 20.0

### 2.3: Error Generation

In [39]:
print("x   -->",x)

NameError: name 'x' is not defined

### 2.4: Exception handling: Variable not Defined

In [41]:
try:
    print("x = ", x)
except:
    print("An exception occurred; x is not defined")

An exception occurred; x is not defined

### 2.5: Exception handling : else without if

In [42]:
try:
    print("Hello")
except:
    print("Something went wrong")
else:
    print("Nothing went wrong\n")

Hello
Nothing went wrong

### 2.7: Finally Block
    The Finally block gets executed no matter if the try block raises any errors or not :

In [43]:
try:
    print("x = ", x)
except:
    print("Something went wrong")
finally:
    print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

### 2.8: Exception Handling for array out of index

In [44]:
L = [1, 2, 3, 4, 5]

for i in range(8):
    try:
        print(i, "-->",L[i])
    except:
        print("error")

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5
error
error
error

### 2.9: Exception handling for file not found

In [45]:
fileName = input("Enter File Name : ")
fp = open(fileName)
fp.close()
print("Done")

Enter File Name : harsh

FileNotFoundError: [Errno 2] No such file or directory: 'harsh'

In [46]:
fileName = input("Enter File Name : ")
try:
    fp = open(fileName)
    fp.close()
except:
    print("Error !! %s file not found"%(fileName))
print("Done")

Enter File Name : harsh
Error !! harsh file not found
Done

### 2.11: Exception handling: Input from user

In [48]:
try:
    a = int(input("Enter first number : "))
    b = int(input("Enter second number : "))
    c = a + b
    print(a, "+", b, "=", c)
except:
    print("\nError !! a or b is not of int type !!")

Enter first number : 5
Enter second number : e

Error !! a or b is not of int type !!

In [50]:
try:
    a = int(input("Enter first number : "))
except:
    print("\nError !! a or b is not of int type !!")
    exit(0)
    
try:
    b = int(input("Enter second number : "))
except:
    print("\nError !! a or b is not of int type !!")
    exit(0)

c = a + b
print(a, "+", b, "=", c)

Enter first number : 5
Enter second number : p

Error !! a or b is not of int type !!
5 + 9 = 14

### 2.12: Raise Exception

In [1]:
x = -1
if x < 0:
    raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

In [3]:
x = "Hello"
if type(x) is not int:
    raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed